.Person {
   margin: 10px;
   background-color: green;
   color: white;
   font: inherit;
   border: 1px solid gray;
   padding: 8px;
   cursor: pointer;
   box-shadow: 0 2px 3px rgb(161, 159, 159);
}

.button:hover {
  background-color: ${props => props.colour ? 'lightgreen' : 'salmon'};
  color: black;
  transition: background-color .15s ease-in;
}